package app

templ Index() {
	<html lang="en">
		<head>
			<meta charset="UTF-8"/>
			<link rel="icon" href="public/favicon.ico"/>
			<link rel="stylesheet" href="public/styles.css"/>
			<script defer async src="./public/scripts.js"></script>
			<title>Todo</title>
		</head>
		<body>
			@Page()
		</body>
	</html>
}
